{% extends "base.html" %}

{% block title %}Log-in{% endblock %}

{% block content %}
    <h1>Log-in</h1>
    <p>Please, use the following form to log-in:</p>
    {% if error %}
        <div class="danger-alert">
            <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
            {{ msg }}
        </div>
    {% endif %}
    <form action="." method="post">
        {{ form.as_p }}
        {% csrf_token %}
        <p><input type="submit" value="Log-in"></p>
    </form>
{% endblock %}